{% extends "base.html" %}

{% block navbarcontent %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Expense History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Visualise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Share</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ current_user['username'] }}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}

<!-- placeholder for username until we add in forms properly -->
<h2>Hello, {{ current_user['username'] }}!</h2>

<ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#upload" type="button">Upload Data</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#visualise" type="button">Visualise</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#share" type="button">Share</button>
  </li>
</ul>

<div class="tab-content mt-3">
  <div class="tab-pane fade show active" id="upload">
    {% include "upload.html" %}
  </div>
  <div class="tab-pane fade" id="visualise">
    {% include "visualise.html" %}
  </div>
  <div class="tab-pane fade" id="share">
    {% include "share.html" %}
  </div>
</div>

{% endblock %}
