{% extends "base.html" %}

<!-- {% block navbarcontent %}
<div>
  <a href="/login" class="btn btn-outline-light me-2">Login</a>
</div>
{% endblock %}-->

{% block content %}
  <div class="text-center">
    <h1>Welcome to ExpenseTracker</h1>
    <p>Track, Analyse, and Share your Expenses with Ease.</p>
    <a href="{{ url_for('login') }}">Login</a>
  </div>
  <div class="features text-center">
    <h4>Why Choose ExpenseTracker?</h2>
    <ul>
      <li>Track your expenses effortlessly.</li>
      <li>Analyze spending patterns with detailed reports.</li>
      <li>Collaborate and share budgets with others.</li>
    </ul>
  </div>
  <div class="testimonials text-center">
    <h4>What Our Users Say</h2>
    <blockquote>
      "ExpenseTracker has completely changed the way I manage my finances!" - Jane Doe
    </blockquote>
    <blockquote>
      "A must have tool for anyone serious about budgeting." - John Smith
    </blockquote>
  </div>
  <div class="helpful-tips text-center">
    <h4>Helpful Tips to Save Money</h2>
    <ul>
      <li>Create a monthly budget and stick to it.</li>
      <li>Track your daily expenses to identify unnecessary spending.</li>
      <li>Set financial goals and prioritize saving for them.</li>
      <li>Cook at home instead of eating out to save on food costs.</li>
      <li>Take advantage of discounts, coupons, and cashback offers.</li>
    </ul>
  </div>
{% endblock %}

